.jumbotron {
    background: none;
    color: #ffffff;
    padding: 100px 25px;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.foodimg {
    font-size: 200px;
    margin-top: 0.1em;
}
.btn-md {
    float: right;
    margin-top: 2em;
}
.recipe {
    margin-top: 2em;
    margin-bottom: 0;
    /*font-weight:lighter !important*/
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.title-container {
    z-index:1000!important;
    text-align: center !important;
    width: 100%;
    position: absolute;
}

.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); /* make all photos black and white */*/
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
