<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="icon" type="image/png" href="../static/image/d.png">
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Tiny Planet</h1>
            <p>Just sharing something interesting</p>
            <form class="form-inline">
                <input class="form-control" type="email" size="50" placeholder="Email Address">
                <button class="btn btn-info" type="button">Subscribe</button>
            </form>
        </div>
        <!-- food section -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Food</h2>
                    <h4>One Skillet Chicken with Lemon Garlic Cream Sauce</h4>
                    <p>Meat: Chicken breasts, boneless skinless<br>
                       Condiments: 2 tbsp Lemon juice<br>
                       Produce: 1 tbsp	Garlic;
                                2 tbsp	Parsley or basil;
                                1/3 cup	Shallots<br>
                       Baking & Spices: 1/2 tsp Red pepper flakes;
                                        1 Salt and pepper<br>
                       Canned Goods: 1 cup Chicken broth<br>
                       Oils & Vinegars: 1 tbsp Olive oil</p>
                    <button class="btn btn-default btn-lg">Details</button>
                </div>
                <div class="col-sm-4">
                    <img src="../static/image/food1.jpg" alt="chicken" width="360" class="foodimg">
                </div>
            </div>
        </div>
        <!-- movie section -->
        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../static/image/vedio1.jpg" alt="the wrong mans" >
                </div>
                <div class="col-sm-8">
                    <h2>Movie</h2>
                    <h4>The Wrong Mans</h4>
                    <p>From actor/writer duo James Corden and Mathew Baynton, The Wrong
                        Mans series centers on Sam Pinkett and Phil Bourne, office worke
                        rs for Berkshire County Council, who have their menial existence
                         turned upside-down by a chance phone-call and a case of mistake
                         n identity. After being sole witness to a car crash on a desola
                         te country road, Sam answers an abandoned mobile telephone and
                         hears a message that was clearly not meant for him: "If you are
                          not here by 5 o'clock, we will kill your wife". Encouraged by
                          office mail-room delivery boy Phil that they can be the heroes
                           of the hour, the duo soon find themselves plunged into a dead
                           ly kidnap situation. The Wrong Mans involves a world of unexp
                           ected international conspiracy and intrigue, with the mysteri
                           ous Scarlett and Stevens and the enigmatic secret agent Walke
                           r at the heart of the unfurling chaos. Sam and Phil must dodg
                           e bullets and escape explosions in their quest to save not ju
                           st themselves, but their loved ones and ultimately their whol
                           e town.<br>
                           - Written by BBC ad</p>
                </div>
            </div>
        </div>
        <!-- beauty section  -->
        <div class="container-fluid text-center">
            <div class="row">
              <div class="col-sm-8">
                  <h2>Beauty</h2>
                  <h4>Eye Care</h4>
                  <p>If you're one of the many women who think eye creams are just another way for the cosmetic
                    industry to get you to buy more skin care products, dermatologist Kenneth Beer, MD, PA,
                    says you should reconsider. The skin around your eye is the thinnest layer of skin on
                    your entire body, and therefore the most sensitive.
                  </p>
              </div>
              <div class="col-sm-4">
                  <img src="../static/image/eye.jpg" alt="eye care" >
              </div>
            </div>
        </div>

        <!-- travel section  -->
        <div class="container-fluid bg-grey text-center">
            <div class="row">
              <div class="col-sm-8">
                  <h2>Travel</h2>
                  <h4>North Michigan</h4>
                  <p>Michigan's Sunrise Side greets fall color in late September,
                    and the autumn hues usually linger until mid-October.
                    This 200-mile route travels from Lake Huron's shore to a stunning stand of virgin forest,
                    with lots of opportunities for wildlife viewing along the way.
                  </p>
              </div>
              <div class="col-sm-4">
                  <img src="../static/image/pic4.jpg" alt="North Michigan" >
              </div>
            </div>
        </div>



    </body>
<html>
