<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiny Planet</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="icon" type="image/png" href="../static/image/d.png">
        <script src="../static/js/jquery-1.11.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="..js/bootstrap.min.js"></script>
        <script src="../static/js/background.js"></script>
        <script src="../static/js/slide.js"></script>
        <script src="../static/js/like.js"></script>
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand topnav-icons fa fa-home fa-2x" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#food">FOOD</a></li>
                            <li><a href="#video">VIDEO</a></li>
                            <li><a href="#gallery">TRAVEL</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <!-- background video -->
        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <div class="title-container jumbotron text-center">
                    <h1>Tiny Planet</h1>
                    <p>Just sharing something interesting</p>
                    <form class="form-inline">
                        <input class="form-control" type="email" size="50" placeholder="Email Address">
                        <button class="btn btn-info" type="button">Subscribe</button>
                    </form>
                </div>
                <video autoplay loop class="fillWidth">
                    <source src="../static/video/Market/MP4/Market.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="../static/video/Market/WEBM/Market.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                <div class="poster hidden">
                    <img src="../static/video/Market/Snapshots/Market.jpg" alt="Market">
                </div>
            </div>
        </div>
        <!-- food section -->
        <div id="food" class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Food</h2>
                    <h4>One Skillet Chicken with Lemon Garlic Cream Sauce</h4>
                    <table class="recipe table table-striped">
                        <tr>
                            <th>Meat:</th>
                            <th style="font-weight: normal">Chicken breasts</th>
                            <th style="font-weight: normal">boneless skinless</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Condiments:</th>
                            <th style="font-weight: normal">2 tbsp Lemon juice</th>
                            <th style="font-weight: normal"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Produce:</th>
                            <th style="font-weight: normal">1 tbsp Garlic</th>
                            <th style="font-weight: normal">2 tbsp Parsley or basil</th>
                            <th style="font-weight: normal">1/3 cup Shallots</th>
                        </tr>
                        <tr>
                            <th>Baking & Spices:</th>
                            <th style="font-weight: normal">1/2 tsp Red pepper flakes</th>
                            <th style="font-weight: normal">1 Salt and pepper</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Canned Goods:</th>
                            <th style="font-weight: normal">1 cup Chicken broth</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Oils & Vinegars:</th>
                            <th style="font-weight: normal">1 tbsp Olive oil</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </table>

                    <button class="btn btn-default btn-md">More</button>
                </div>
                <div class="col-sm-4">
                    <img src="../static/image/food1.jpg" alt="chicken" width="360" class="foodimg">
                </div>
            </div>
        </div>
        <!-- Video section -->
        <div id="video" class="container-fluid bg-grey">
            <!-- <h2 class="text-center">Video</h2> -->
            <div class="item row">
                <div class="poster col-sm-6">
                    <img src="../static/image/video1.jpg" alt="the wrong mans" >
                </div>
                <div class="description col-sm-6">
                    <h2>Video</h2>
                    <h4>The Wrong Mans</h4>
                    <p>From actor/writer duo James Corden and Mathew Baynton, The Wrong
                        Mans series centers on Sam Pinkett and Phil Bourne, office worke
                        rs for Berkshire County Council, who have their menial existence
                         turned upside-down by a chance phone-call and a case of mistake
                         n identity. After being sole witness to a car crash on a desola
                         te country road, Sam answers an abandoned mobile telephone and
                         hears a message that was clearly not meant for him: "If you are
                          not here by 5 o'clock, we will kill your wife". Encouraged by
                          office mail-room delivery boy Phil that they can be the heroes
                           of the hour, the duo soon find themselves plunged into a dead
                           ly kidnap situation. The Wrong Mans involves a world of unexp
                           ected international conspiracy and intrigue, with the mysteri
                           ous Scarlett and Stevens and the enigmatic secret agent Walke
                           r at the heart of the unfurling chaos. Sam and Phil must dodg
                           e bullets and escape explosions in their quest to save not ju
                           st themselves, but their loved ones and ultimately their whol
                           e town.<br>
                           - Written by BBC ad</p>
                    <!-- <button class="btn btn-default btn-md">More</button> -->
                </div>
            </div>
            <!-- <div class="item row">
                <div class="poster col-sm-6">
                    <img src="../static/image/video2.jpg" alt="that sugar film" >
                </div>
                <div class="description col-sm-6">
                    <h4>That sugar film</h4>
                    <p>One man's journey to discover the bitter truth about suga
                        r. Damon Gameau embarks on a unique experiment to docume
                        nt the effects of a high sugar diet on a healthy body, c
                        onsuming only foods that are commonly perceived as 'heal
                        thy'. Through this entertaining and informative journey,
                         Damon highlights some of the issues that plague the sug
                         ar industry, and where sugar lurks on supermarket shelv
                         es. <br>
                           - Written by Madman Entertainment</p>
                </div>
            </div> -->
        </div>
        <!-- travel section  -->
        <!-- <div class="container-fluid text-center"> -->
            <div id="gallery" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#gallery" data-slide-to="0" class="active"></li>
                <li data-target="#gallery" data-slide-to="1"></li>
                <li data-target="#gallery" data-slide-to="2"></li>
                <li data-target="#gallery" data-slide-to="3"></li>
                <li data-target="#gallery" data-slide-to="4"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="../static/image/wrapper1.jpg" alt="fall1">
                  <div class="carousel-caption">
                    <h3>Upper Peninsula</h3>
                    <p>Michigan, the story of Fall.</p>
                    <span class="btn like-button">
                        <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;Like
                    </span>
                  </div>
                </div>

                <div class="item">
                  <img src="../static/image/wrapper2.jpg" alt="fall2">
                  <div class="carousel-caption">
                    <h3>US 41 Road</h3>
                    <p>Tunnel of trees. You'll never know it looks like a ghost town at night</p>
                    <span class="btn like-button">
                        <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;Like
                    </span>
                  </div>
                </div>

                <div class="item">
                  <img src="../static/image/wrapper3.jpg" alt="flower">
                  <div class="carousel-caption">
                    <h3>Guangzhou</h3>
                    <p>This is a city I where lived for four years and Winter never falls on this city.</p>
                    <span class="btn like-button">
                        <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;Like
                    </span>
                  </div>
                </div>
                <div class="item">
                  <img src="../static/image/wrapper4.jpg" alt="magic">
                  <div class="carousel-caption">
                    <h3>My magic friend <span class="btn like-button">
                        <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;Like</span>
                    </h3>
                    <p>A friend of mine has the magic power to float her hat.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="../static/image/wrapper5.jpg" alt="lake">
                  <div class="carousel-caption">
                    <h3>Silver linings</h3>
                    <p>I stood in front of Lake Erie in a runny day but every cloud has a silver lining.</p>
                    <span class="btn like-button">
                        <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;Like
                    </span>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            <!-- </div> -->

        </div>

        <!-- contact section -->
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">Contact</h2>
            <div class="row">
                <div class="col-sm-5">
                  <p>Contact us and we'll get back to you asap.</p>
                  <p><span class="glyphicon glyphicon-map-marker"></span> Ann Arbor, MI</p>
                  <p><span class="glyphicon glyphicon-phone"></span> (734)123-45667</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> tinyplanet@gmail.com</p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                    <!-- <form action="{{ url_for('index') }}" method=post>
                      {{ form.hidden_tag() }}

                      {{ form.name.label }}
                      {{ form.name }}

                      {{ form.email.label }}
                      {{ form.email }}

                      {{ form.subject.label }}
                      {{ form.subject }}

                      {{ form.message.label }}
                      {{ form.message }}

                      {{ form.submit }}
                    </form>
                </div> -->
                <div class="googlemap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.896065335839!2d-83.74236048508084!3d42.28074194810053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cae406bf1f7cb%3A0xefd29040373a695a!2sNorth+Quadrangle+Residential+and+Academic+Complex!5e0!3m2!1sen!2sus!4v1449610349814" width=100% height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="text-center">
            <a href="#" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a>
            <span>Copyright © Tiny Planet 2015</span>
            <span class="social-buttons">
                <a href="https://instagram.com/xadieux">
                    <i class="fa fa-instagram fa-lg"></i>
                </a>
                <a href="https://www.facebook.com/diyu.xiao.1">
                    <i class="fa fa-facebook fa-lg"></i>
                </a>
            </span>
        </footer>

    </body>
</html>
